.comparison {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: no-wrap;
    padding: 15px 15px;
    @include media('>=tablet') {
        flex-direction: row;
        padding: 30px 15px;
    }
}

.decorated {
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        right: -15%;
        width: 120%;
        height: 100%;
        background: url("../images/stroke.svg") no-repeat;
        background-size: contain;
        z-index: -1;
    }
}

.cta-article {
    padding: 40px 0 80px;
    margin: 0 auto;
    h2 {
        margin: 0 0 20px;
    }
    .btn-holder {
        a.btn-default {
            &:hover {
                color: #fff !important;
            }
        }
        span {
            font-size: 14px;
            line-height: 16px;
            color: $gray-hover;
        }
    }
}

.break-txt {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 20px;
    @include media('>=desktop') {
        line-height: 22px;
    }
}