<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<!-- page title -->
		<title>Pricing - Nimbus Platform</title>
		<!-- include jQuery library -->
		<meta name="description" content="Comparisons: Nimbus Platform vs Competitors. The most detailed review">
		<meta name="robots" content="noindex, nofollow" />
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
			integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
			defer></script>
		<!-- include jQuery library local file if cdn link doesn't work -->
		<script>window.jQuery || document.write('<script src="js/jquery-3.6.0.min.js" defer><\/script>')</script>
	</head>
	<body>
		<a class="accessibility" href="#main">Skip to Content</a>
		<!-- <noscript>
			<div>Javascript must be enabled for the correct page display</div>
		</noscript> -->
		<div class="wrapper">
			<header class="header">
				<div class="header__logo">
					<a href="#" class="header__logo-link">
						<img src="./images/nimbus-logo.svg" alt="Nimbus Logo" width="46" height="46" class="header__logo--img">
						<span class="header__logo--text">Nimbus Platform <sup>TM</sup></span>
					</a>
				</div>
				<nav class="header__menu">
					<a href="#" class="header__nav-opener">
						<span></span>
					</a>
					<div class="header__nav-drop">
						<ul id="nav" class="header__main-nav header-accordion">
							<li>
								<a href="#" class="opener">
									Products and Features
									<span class="header__main-arrow icon-arrow-down"></span>
								</a>
								<div class="slide">
									<ul class="header__sub-nav header__sub-nav--row">
										<li><a href="#">
											<span class="icon icon-nimbus-note"></span>
											<span><span class="text-black">Nimbus</span>note</span>
										</a></li>
										<li><a href="#">
											<span class="icon icon-nimbus-clarity"></span>
											<span><span class="text-black">Nimbus</span>clarity</span>
										</a></li>
										<li><a href="#">
											<span class="icon icon-nimbus-clipper"></span>
											<span><span class="text-black">Nimbus</span>clipper</span>
										</a></li>
										<li class="sub-nav-last"><a href="#">Use Cases</a></li>
									</ul>
								</div>
							</li>
							<li><a href="#" class="link-with-label">
								<span class="link-with-label">For Business <span class="link-label">NEW</span></span>
							</a></li>
							<li><a href="#">Pricing</a></li>
							<li>
								<a href="#" class="opener">
									Community
									<span class="header__main-arrow icon-arrow-down"></span>
								</a>
								<div class="slide">
									<ul class="header__sub-nav">
										<li><a href="#">Success Stories</a></li>
										<li><a href="#">Partnership Programs</a></li>
										<li><a href="#">Find an Expert</a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="#" class="opener">
									Resources
									<span class="header__main-arrow icon-arrow-down"></span>
								</a>
								<div class="slide">
									<ul class="header__sub-nav">
										<li><a href="#">Success Stories</a></li>
										<li><a href="#">Partnership Programs</a></li>
										<li><a href="#">Find an Expert</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</nav>
				<ul class="header__extra-menu">
					<li><a href="#">Sign in</a></li>
					<li><a href="#" class="btn-default">Start a free 14-day trial</a></li>
				</ul>
			</header>

			<div class="page-holder">
				<main class="innerpage" id="pricing">
					<div class="container">
						<article class="page-article">
							<div class="title text-center">
								<h1>Choose your pricing plan </h1>
							</div>

							<div class="pricing">
								<div class="price-toggler">
									<button class="toggler-btn annual active">Annual <span>Save up to 25%</span></button>
									<button class="toggler-btn monthly">Month</button>
								</div>
								<div class="price-cards">
									<div class="price-card">
										<div class="tariff-card">
											<div class="tariff-card__wrap">
												<div class="tariff-card__inner">
													<div class="tariff-card__title">Free <span class="tariff-card__users">1-20</span></div>
													<div class="tariff-card__desc">Create super notes, bring your data to one place, collaborate with others </div>
													<div class="tariff-card__cost">
														<div class="tariff-card__cost--price">$0</div>
														<div class="tariff-card__cost--count">Unlimited devices</div>
													</div>
													<div class="tariff-card__button">
														<button class=" btn-default">Create a free account</button>
														<div class="tariff-card__additional">No credit card required</div>
													</div>
												</div>
											</div> 
											<button class="tariff-card__showmore  btn-default">Key features</button>
											<div class="tariff-full">
												<div class="tariff-full__table">
													<div class="tariff-full__feature">Unlimited devices</div>
													<div class="tariff-full__feature">Unlimited nested folders </div>
													<div class="tariff-full__feature">All editor features</div>
													<div class="tariff-full__feature">Integrations</div>
													<div class="tariff-full__feature">Offline access</div>
													<div class="tariff-full__feature">Document Scanner </div>
													<div class="tariff-full__feature">Public pages</div>
													<div class="tariff-full__feature"></div>
													<div class="tariff-full__feature"></div>
													<div class="tariff-full__feature"></div>
													<div class="tariff-full__feature">
														<div class="tariff-full__includes">
															<div class="tariff-full__subheader">Included products</div>
															<div class="tariff-full__subproducts">
																<img class="tariff-full__subproducts--image" src="images/nimbus-clipper.svg" alt=""> Nimbus Clipper
															</div>
															<div class="tariff-full__subproducts">
																<img class="tariff-full__subproducts--image" src="images/nimbus-clarity.svg" alt=""> Nimbus Clarity
															</div>
														</div>
													</div>
													<div class="tariff-full__feature">
														<div class="tariff-card__cost">
															<div class="tariff-card__cost--price">$0</div>
															<div class="tariff-card__cost--count">Unlimited devices</div>
														</div>
														<div class="tariff-card__button">
															<button class=" btn-default">Create a free account</button>
															<div class="tariff-card__additional">No credit card required</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="price-card price-card--popular">
										<div class="tariff-card">
											<div class="tariff-card__wrap">
												<div class="tariff-card__extra">Popular choice</div>
												<div class="tariff-card__inner">
													<div class="tariff-card__title">Pro<span class="tariff-card__users">1-20</span></div>
													<div class="tariff-card__desc">Manage your personal & professional life, organize your work with super documents and be more productive </div>
													<div class="tariff-card__cost">
														<div class="tariff-card__cost--price">$6</div>
														<div class="tariff-card__cost--count">/month per user</div>
													</div>
													<button class="tariff-card__button btn-default">Upgrade now</button>
												</div>
											</div>
											<button class="tariff-card__showmore  btn-default">All Free plan features plus</button>
											<div class="tariff-full">
												<div class="tariff-full__table">
													<div class="tariff-full__feature">Unlimited notes </div>
													<div class="tariff-full__feature">Unlimited video / audio recording  </div>
													<div class="tariff-full__feature">Image recognition </div>
													<div class="tariff-full__feature">Search in images and docs</div>
													<div class="tariff-full__feature">Weekly server backups</div>
													<div class="tariff-full__feature">Export to PDF </div>
													<div class="tariff-full__feature">Password-protected public pages</div> 
													<div class="tariff-full__feature">Version history</div>
													<div class="tariff-full__feature">2-step authentication</div>
													<div class="tariff-full__feature"></div>
													<div class="tariff-full__feature">
														<div class="tariff-full__includes">
															<div class="tariff-full__subheader">Included products</div>
															<div class="tariff-full__subproducts">
																<img class="tariff-full__subproducts--image" src="images/nimbus-clipper.svg" alt=""> Nimbus Clipper
															</div>
															<div class="tariff-full__subproducts">
																<img class="tariff-full__subproducts--image" src="images/nimbus-clarity.svg" alt=""> Nimbus Clarity
															</div>
														</div>
													</div>
													<div class="tariff-full__feature">
														<div class="tariff-card__cost">
															<div class="tariff-card__cost--price">$6</div>
															<div class="tariff-card__cost--count">/month per user</div>
														</div>
														<div class="tariff-card__button">
															<button class=" btn-default">Upgrade now</button>
															<div class="tariff-card__additional">No credit card required</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="price-card">
										<div class="tariff-card">
											<div class="tariff-card__wrap">
												<div class="tariff-card__inner">
													<div class="tariff-card__title">Business<span class="tariff-card__users">2+ </span></div>
													<div class="tariff-card__desc">Empower your business with Nimbus. Create on-brand environments for your clients & teams, organize your collaboration and get things done  </div>
													<div class="tariff-card__cost">
														<div class="tariff-card__cost--price">$8</div>
														<div class="tariff-card__cost--count">/month per user</div>
													</div>
													<button class="tariff-card__button btn-default">Upgrade now</button>
												</div>
											</div>
											<button class="tariff-card__showmore  btn-default">Key features</button>
											<div class="tariff-full">
												<div class="tariff-full__table">
													<div class="tariff-full__feature">Unlimited workspaces </div>
													<div class="tariff-full__feature">White label solution</div>
													<div class="tariff-full__feature">CNAME (Custom Domain)</div>
													<div class="tariff-full__feature">Internal branding</div>
													<div class="tariff-full__feature">External branding</div>
													<div class="tariff-full__feature">Client accounts (coming soon)</div>
													<div class="tariff-full__feature">Custom SMTP</div>
													<div class="tariff-full__feature">Advanced integrations (JS/HTML Injections)</div>
													<div class="tariff-full__feature">Automation (coming soon)</div>
													<div class="tariff-full__feature">Workflow management (coming soon) </div>
													<div class="tariff-full__feature">
														<div class="tariff-full__includes">
															<div class="tariff-full__subheader">Included products</div>
															<div class="tariff-full__subproducts">
																<img class="tariff-full__subproducts--image" src="images/nimbus-clipper.svg" alt=""> Nimbus Clipper
															</div>
															<div class="tariff-full__subproducts">
																<img class="tariff-full__subproducts--image" src="images/nimbus-clarity.svg" alt=""> Nimbus Clarity
															</div>
														</div>
													</div>
													<div class="tariff-full__feature">
														<div class="tariff-card__cost">
															<div class="tariff-card__cost--price">$8</div>
															<div class="tariff-card__cost--count">/month per user</div>
														</div>
														<div class="tariff-card__button">
															<button class=" btn-default">Upgrade now</button>
															<div class="tariff-card__additional">No credit card required</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<button class="button-compare">
									<svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M8.94824 2.88L5.04869 5.76V4.03205H0.500977V1.72805H5.04869V0L8.94824 2.88ZM5.05176 8.12L8.95131 5.24V6.96795L13.499 6.96795V9.27195H8.95131V11L5.05176 8.12Z" fill="black"/>
									</svg> Compare plans
								</button>
							</div>
						</article>

						<article class="awards-article text-center">
							<h2>Recognized with numerous <br><span class="yellow-decoration">awards
								<svg width="260" height="89" viewBox="0 0 260 89" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M163.168 6.82027L1.5838 0L0.276489 30.9724L38.5873 32.5895L40.5669 53.553L47.832 52.8669L48.4961 71.9125L97.4269 70.2066L99.817 88.4747L220.358 72.704L219.475 65.9514L259.724 64.5482L258.504 29.5695L238.254 30.2755L235.395 0L163.168 6.82027Z" fill="#F6CA56"/>
								</svg></span>
							</h2>
							<div class="brand-slider">
								<img src="images/brands/brand1.png" alt="">
								<img src="images/brands/brand2.png" alt="">
								<img src="images/brands/brand3.png" alt="">
								<img src="images/brands/brand4.png" alt="">
								<img src="images/brands/brand5.png" alt="">
								<img src="images/brands/brand6.png" alt="">
								<img src="images/brands/brand7.png" alt="">
								<img src="images/brands/brand8.png" alt="">
								<img src="images/brands/brand9.png" alt="">
								<img src="images/brands/brand1.png" alt="">
								<img src="images/brands/brand2.png" alt="">
								<img src="images/brands/brand3.png" alt="">
								<img src="images/brands/brand4.png" alt="">
								<img src="images/brands/brand5.png" alt="">
								<img src="images/brands/brand6.png" alt="">
								<img src="images/brands/brand7.png" alt="">
								<img src="images/brands/brand8.png" alt="">
								<img src="images/brands/brand9.png" alt="">
							</div>
						</article>

						<article class="compare-tariffs-article">
							<div class="compare-tariffs">
								<div class="price-card">
									<div class="tariff-card">
										<div class="tariff-card__wrap">
											<div class="tariff-card__inner">
												<div class="tariff-card__title">Free <span class="tariff-card__users">1-20</span></div>
												<div class="tariff-card__cost">
													<div class="tariff-card__cost--price">$0</div>
													<div class="tariff-card__cost--count">Unlimited devices</div>
												</div>
												<div class="tariff-card__button">
													<button class=" btn-default">Create a free account</button>
													<div class="tariff-card__additional">No credit card required</div>
												</div>
											</div>
										</div> 
									</div>
								</div>

								<div class="price-card price-card--popular">
									<div class="tariff-card">
										<div class="tariff-card__wrap">
											<div class="tariff-card__inner">
												<div class="tariff-card__title">Pro <span class="tariff-card__users">1-20</span></div>
												<div class="tariff-card__cost">
													<div class="tariff-card__cost--price">$6</div>
													<div class="tariff-card__cost--count">/month per user</div>
												</div>
												<div class="tariff-card__button">
													<button class=" btn-default">Upgrade now</button>
												</div>
											</div>
										</div> 
									</div>
								</div>

								<div class="price-card">
									<div class="tariff-card">
										<div class="tariff-card__wrap">
											<div class="tariff-card__inner">
												<div class="tariff-card__title">Business <span class="tariff-card__users">2+</span></div>
												<div class="tariff-card__cost">
													<div class="tariff-card__cost--price">$8</div>
													<div class="tariff-card__cost--count">/month per users</div>
												</div>
												<div class="tariff-card__button">
													<button class=" btn-default">Upgrade now</button>
												</div>
											</div>
										</div> 
									</div>
								</div>
							</div>

							<div class="compare-table">
								<div class="compare-table__block">
									<div class="compare-table__row">
										<div class="compare-table__rowtitle">Notes and Workspaces</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Notes/blocks available</div>
										<div class="compare-table__score">30 Notes OR 1000 blocks</div>
										<div class="compare-table__score">Unlimited</div>
										<div class="compare-table__score">Unlimited</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Workspaces</div>
										<div class="compare-table__score">1</div>
										<div class="compare-table__score">3</div>
										<div class="compare-table__score">3 per member</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Nimbus branding removal on public pages</div>
										<div class="compare-table__score"><span class="rounded-icon icon-minus"></span></div>
										<div class="compare-table__score"><span class="rounded-icon icon-minus"></span></div>
										<div class="compare-table__score"><span class="rounded-icon icon-plus"></span></div>
									</div>
								</div>
								<div class="compare-table__block">
									<div class="compare-table__row">
										<div class="compare-table__rowtitle">Users and Roles</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Minimum # of users</div>
										<div class="compare-table__score">1</div>
										<div class="compare-table__score">1</div>
										<div class="compare-table__score">2</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Maximum # of users</div>
										<div class="compare-table__score">20</div>
										<div class="compare-table__score">20</div>
										<div class="compare-table__score">Unlimited</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Guests of organization</div>
										<div class="compare-table__score"><span class="rounded-icon icon-minus"></span></div>
										<div class="compare-table__score"><span class="rounded-icon icon-minus"></span></div>
										<div class="compare-table__score">3 per member</div>
									</div>
								</div>
								<div class="compare-table__block">
									<div class="compare-table__row">
										<div class="compare-table__rowtitle">Devices and Storage</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Number of connected devices</div>
										<div class="compare-table__score">Unlimited</div>
										<div class="compare-table__score">Unlimited</div>
										<div class="compare-table__score">Unlimited</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Offline mode</div>
										<div class="compare-table__score"><span class="rounded-icon icon-plus"></span></div>
										<div class="compare-table__score"><span class="rounded-icon icon-plus"></span></div>
										<div class="compare-table__score"><span class="rounded-icon icon-plus"></span></div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Monthly upload limit</div>
										<div class="compare-table__score">0.1 Gb</div>
										<div class="compare-table__score">5 Gb per user</div>
										<div class="compare-table__score">10 Gb per user</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Maximum upload size</div>
										<div class="compare-table__score">0.01 Gb</div>
										<div class="compare-table__score">1 Gb</div>
										<div class="compare-table__score">1 Gb</div>
									</div>
								</div>
								<div class="compare-table__block">
									<div class="compare-table__row">
										<div class="compare-table__rowtitle">Notes and Workspaces</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Notes/blocks available</div>
										<div class="compare-table__score">30 Notes OR 1000 blocks</div>
										<div class="compare-table__score">Unlimited</div>
										<div class="compare-table__score">Unlimited</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Workspaces</div>
										<div class="compare-table__score">1</div>
										<div class="compare-table__score">3</div>
										<div class="compare-table__score">3 per member</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Nimbus branding removal on public pages</div>
										<div class="compare-table__score"><span class="rounded-icon icon-minus"></span></div>
										<div class="compare-table__score"><span class="rounded-icon icon-minus"></span></div>
										<div class="compare-table__score"><span class="rounded-icon icon-plus"></span></div>
									</div>
								</div>
								<div class="compare-table__block">
									<div class="compare-table__row">
										<div class="compare-table__rowtitle">Users and Roles</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Minimum # of users</div>
										<div class="compare-table__score">1</div>
										<div class="compare-table__score">1</div>
										<div class="compare-table__score">2</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Maximum # of users</div>
										<div class="compare-table__score">20</div>
										<div class="compare-table__score">20</div>
										<div class="compare-table__score">Unlimited</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Guests of organization</div>
										<div class="compare-table__score"><span class="rounded-icon icon-minus"></span></div>
										<div class="compare-table__score"><span class="rounded-icon icon-minus"></span></div>
										<div class="compare-table__score">3 per member</div>
									</div>
								</div>
								<div class="compare-table__block">
									<div class="compare-table__row">
										<div class="compare-table__rowtitle">Devices and Storage</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Number of connected devices</div>
										<div class="compare-table__score">Unlimited</div>
										<div class="compare-table__score">Unlimited</div>
										<div class="compare-table__score">Unlimited</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Offline mode</div>
										<div class="compare-table__score"><span class="rounded-icon icon-plus"></span></div>
										<div class="compare-table__score"><span class="rounded-icon icon-plus"></span></div>
										<div class="compare-table__score"><span class="rounded-icon icon-plus"></span></div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Monthly upload limit</div>
										<div class="compare-table__score">0.1 Gb</div>
										<div class="compare-table__score">5 Gb per user</div>
										<div class="compare-table__score">10 Gb per user</div>
									</div>
									<div class="compare-table__row">
										<div class="compare-table__score">Maximum upload size</div>
										<div class="compare-table__score">0.01 Gb</div>
										<div class="compare-table__score">1 Gb</div>
										<div class="compare-table__score">1 Gb</div>
									</div>
								</div>
							</div>
						</article>

						<article class="faq-article">
							<h2 class="text-center">Frequently Asked Questions</h2>
							<div class="accordion">
								<div class="accordion__item">
									<a href="#" class="opener">
										Why should I move from Evernote to Nimbus?
										<span class="icon-arrow-down"></span>
									</a>
									<div class="slide">
										<p>There are several key reasons why Evernote users switch to Nimbus Note. In Nimbus Note, you can:</p>
										<ul>
											<li>use OCR, Web Clipper and all the features enjoyed in Evernote;</li>
											<li>create a nested structure for your notes with unlimited folders and tags;</li>
											<li>enjoy the block editor and work with various content: tables, databases, integrations and more;</li>
											<li>set up separate workspaces with permission settings. One Nimbus workspace is similar to one Evernote account;</li>
											<li>invite other people to collaborate in Nimbus Note. For this, try the Nimbus Business plan;</li>
											<li>record video and audio messages right into your notes.</li>
										</ul>
										<p>Many people compare Nimbus Note vs Evernote and find that Nimbus Note has more features for a lower price.</p>
									</div>
								</div>
								<div class="accordion__item">
									<a href="#" class="opener">
										How can I move my information from Evernote to Nimbus Note?
										<span class="icon-arrow-down"></span>
									</a>
									<div class="slide">
										<p>2 faq</p>
										<p>There are several key reasons why Evernote users switch to Nimbus Note. In Nimbus Note, you can:</p>
										<ul>
											<li>use OCR, Web Clipper and all the features enjoyed in Evernote;</li>
											<li>create a nested structure for your notes with unlimited folders and tags;</li>
											<li>enjoy the block editor and work with various content: tables, databases, integrations and more;</li>
											<li>set up separate workspaces with permission settings. One Nimbus workspace is similar to one Evernote account;</li>
											<li>invite other people to collaborate in Nimbus Note. For this, try the Nimbus Business plan;</li>
											<li>record video and audio messages right into your notes.</li>
										</ul>
										<p>Many people compare Nimbus Note vs Evernote and find that Nimbus Note has more features for a lower price.</p>
									</div>
								</div>
								<div class="accordion__item">
									<a href="#" class="opener">
										Is there a trial period?
										<span class="icon-arrow-down"></span>
									</a>
									<div class="slide">
										<p>3 faq</p>
										<p>There are several key reasons why Evernote users switch to Nimbus Note. In Nimbus Note, you can:</p>
										<ul>
											<li>use OCR, Web Clipper and all the features enjoyed in Evernote;</li>
											<li>create a nested structure for your notes with unlimited folders and tags;</li>
											<li>enjoy the block editor and work with various content: tables, databases, integrations and more;</li>
											<li>set up separate workspaces with permission settings. One Nimbus workspace is similar to one Evernote account;</li>
											<li>invite other people to collaborate in Nimbus Note. For this, try the Nimbus Business plan;</li>
											<li>record video and audio messages right into your notes.</li>
										</ul>
										<p>Many people compare Nimbus Note vs Evernote and find that Nimbus Note has more features for a lower price.</p>
									</div>
								</div>
								<div class="accordion__item">
									<a href="#" class="opener">
										Do you support document scanner? Can I search and extract text from images (OCR)?
										<span class="icon-arrow-down"></span>
									</a>
									<div class="slide">
										<p>4 faq</p>
										<p>There are several key reasons why Evernote users switch to Nimbus Note. In Nimbus Note, you can:</p>
										<ul>
											<li>use OCR, Web Clipper and all the features enjoyed in Evernote;</li>
											<li>create a nested structure for your notes with unlimited folders and tags;</li>
											<li>enjoy the block editor and work with various content: tables, databases, integrations and more;</li>
											<li>set up separate workspaces with permission settings. One Nimbus workspace is similar to one Evernote account;</li>
											<li>invite other people to collaborate in Nimbus Note. For this, try the Nimbus Business plan;</li>
											<li>record video and audio messages right into your notes.</li>
										</ul>
										<p>Many people compare Nimbus Note vs Evernote and find that Nimbus Note has more features for a lower price.</p>
									</div>
								</div>
								<div class="accordion__item">
									<a href="#" class="opener">
										How do tags work in Nimbus Note?
										<span class="icon-arrow-down"></span>
									</a>
									<div class="slide">
										<p>5 faq</p>
										<p>There are several key reasons why Evernote users switch to Nimbus Note. In Nimbus Note, you can:</p>
										<ul>
											<li>use OCR, Web Clipper and all the features enjoyed in Evernote;</li>
											<li>create a nested structure for your notes with unlimited folders and tags;</li>
											<li>enjoy the block editor and work with various content: tables, databases, integrations and more;</li>
											<li>set up separate workspaces with permission settings. One Nimbus workspace is similar to one Evernote account;</li>
											<li>invite other people to collaborate in Nimbus Note. For this, try the Nimbus Business plan;</li>
											<li>record video and audio messages right into your notes.</li>
										</ul>
										<p>Many people compare Nimbus Note vs Evernote and find that Nimbus Note has more features for a lower price.</p>
									</div>
								</div>
								<div class="accordion__item">
									<a href="#" class="opener">
										Does Nimbus Note include a Web Clipper?
										<span class="icon-arrow-down"></span>
									</a>
									<div class="slide">
										<p>6 faq</p>
										<p>There are several key reasons why Evernote users switch to Nimbus Note. In Nimbus Note, you can:</p>
										<ul>
											<li>use OCR, Web Clipper and all the features enjoyed in Evernote;</li>
											<li>create a nested structure for your notes with unlimited folders and tags;</li>
											<li>enjoy the block editor and work with various content: tables, databases, integrations and more;</li>
											<li>set up separate workspaces with permission settings. One Nimbus workspace is similar to one Evernote account;</li>
											<li>invite other people to collaborate in Nimbus Note. For this, try the Nimbus Business plan;</li>
											<li>record video and audio messages right into your notes.</li>
										</ul>
										<p>Many people compare Nimbus Note vs Evernote and find that Nimbus Note has more features for a lower price.</p>
									</div>
								</div>
								<div class="accordion__item">
									<a href="#" class="opener">
										Is Nimbus Note secure?
										<span class="icon-arrow-down"></span>
									</a>
									<div class="slide">
										<p>7 faq</p>
										<p>There are several key reasons why Evernote users switch to Nimbus Note. In Nimbus Note, you can:</p>
										<ul>
											<li>use OCR, Web Clipper and all the features enjoyed in Evernote;</li>
											<li>create a nested structure for your notes with unlimited folders and tags;</li>
											<li>enjoy the block editor and work with various content: tables, databases, integrations and more;</li>
											<li>set up separate workspaces with permission settings. One Nimbus workspace is similar to one Evernote account;</li>
											<li>invite other people to collaborate in Nimbus Note. For this, try the Nimbus Business plan;</li>
											<li>record video and audio messages right into your notes.</li>
										</ul>
										<p>Many people compare Nimbus Note vs Evernote and find that Nimbus Note has more features for a lower price.</p>
									</div>
								</div>
								<div class="accordion__item">
									<a href="#" class="opener">
										What's the difference between editors Nimbus Note vs Evernote?
										<span class="icon-arrow-down"></span>
									</a>
									<div class="slide">
										<p>8 faq</p>
										<p>There are several key reasons why Evernote users switch to Nimbus Note. In Nimbus Note, you can:</p>
										<ul>
											<li>use OCR, Web Clipper and all the features enjoyed in Evernote;</li>
											<li>create a nested structure for your notes with unlimited folders and tags;</li>
											<li>enjoy the block editor and work with various content: tables, databases, integrations and more;</li>
											<li>set up separate workspaces with permission settings. One Nimbus workspace is similar to one Evernote account;</li>
											<li>invite other people to collaborate in Nimbus Note. For this, try the Nimbus Business plan;</li>
											<li>record video and audio messages right into your notes.</li>
										</ul>
										<p>Many people compare Nimbus Note vs Evernote and find that Nimbus Note has more features for a lower price.</p>
									</div>
								</div>
								<div class="accordion__item">
									<a href="#" class="opener">
										What do people say about Nimbus Note vs Evernote?
										<span class="icon-arrow-down"></span>
									</a>
									<div class="slide">
										<p>9 faq</p>
										<p>There are several key reasons why Evernote users switch to Nimbus Note. In Nimbus Note, you can:</p>
										<ul>
											<li>use OCR, Web Clipper and all the features enjoyed in Evernote;</li>
											<li>create a nested structure for your notes with unlimited folders and tags;</li>
											<li>enjoy the block editor and work with various content: tables, databases, integrations and more;</li>
											<li>set up separate workspaces with permission settings. One Nimbus workspace is similar to one Evernote account;</li>
											<li>invite other people to collaborate in Nimbus Note. For this, try the Nimbus Business plan;</li>
											<li>record video and audio messages right into your notes.</li>
										</ul>
										<p>Many people compare Nimbus Note vs Evernote and find that Nimbus Note has more features for a lower price.</p>
									</div>
								</div>
								<div class="accordion__item">
									<a href="#" class="opener">
										Can I export my data and delete my Nimbus account?
										<span class="icon-arrow-down"></span>
									</a>
									<div class="slide">
										<p>10 faq</p>
										<p>There are several key reasons why Evernote users switch to Nimbus Note. In Nimbus Note, you can:</p>
										<ul>
											<li>use OCR, Web Clipper and all the features enjoyed in Evernote;</li>
											<li>create a nested structure for your notes with unlimited folders and tags;</li>
											<li>enjoy the block editor and work with various content: tables, databases, integrations and more;</li>
											<li>set up separate workspaces with permission settings. One Nimbus workspace is similar to one Evernote account;</li>
											<li>invite other people to collaborate in Nimbus Note. For this, try the Nimbus Business plan;</li>
											<li>record video and audio messages right into your notes.</li>
										</ul>
										<p>Many people compare Nimbus Note vs Evernote and find that Nimbus Note has more features for a lower price.</p>
									</div>
								</div>
							</div>
						</article>

						<article class="form-article text-center">
							<h2>Not sure which plan <span class="yellow-decoration">to choose?
								<svg width="338" height="85" viewBox="0 0 338 85" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M286.572 2.86101L12.2612 0L11.937 31.0878L0 31.9254L2.79964 71.8273L86.5881 65.9484L87.1232 84.9962L322.199 78.3926L321.386 49.4743L337.976 48.3103L335.176 8.40842L286.479 11.8252L286.572 2.86101Z" fill="#F6CA56"/>
									</svg>
							</span></h2>
							<p class="break-txt">Tell us your team size, and <br>we'll recommend a plan just for you.</p>
							
							<form action="tariff" class="form-tariff-choose">
								<div class="input-field">
									<label for="name" class="itext">Name</label>
									<input type="text" id="name" value="">
								</div>
								<div class="input-field">
									<label for="email" class="itext">Business Email</label>
									<input type="email" id="email" value="">
								</div>
								<div class="input-field">
									<label for="cname" class="itext">Company name </label>
									<input type="text" id="cname" value="">
								</div>

								<div class='form-radio'>
									<label class='form-radio__label'>How many people are on your team? <span>(optional)</span></label>
									<ul class='form-radio__options'>
										<li class='form-radio__option'>
											<input class='itext' id='option-0' name='option' type='radio' value='Only me'>
											<label class='icheck' for='option-0'>Only me</label>
										</li>
										<li class='form-radio__option'>
											<input class='itext' id='option-1' name='option' type='radio' value='2-5'>
											<label class='icheck' for='option-1'>2-5</label>
										</li>
										<li class='form-radio__option'>
											<input class='itext' id='option-2' name='option' type='radio' value='6-10'>
											<label class='icheck' for='option-2'>6-10</label>
										</li>
										<li class='form-radio__option'>
											<input class='itext' id='option-3' name='option' type='radio' value='11-15'>
											<label class='icheck' for='option-3'>11-15</label>
										</li>
										<li class='form-radio__option'>
											<input class='itext' id='option-4' name='option' type='radio' value='16-25'>
											<label class='icheck' for='option-4'>16-25</label>
										</li>
										<li class='form-radio__option'>
											<input class='itext' id='option-5' name='option' type='radio' value='26-50'>
											<label class='icheck' for='option-5'>26-50</label>
										</li>
										<li class='form-radio__option'>
											<input class='itext' id='option-6' name='option' type='radio' value='51-100'>
											<label class='icheck' for='option-6'>51-100</label>
										</li>
										<li class='form-radio__option'>
											<input class='itext' id='option-7' name='option' type='radio' value='101-500'>
											<label class='icheck' for='option-7'>101-500</label>
										</li>
										<li class='form-radio__option'>
											<input class='itext' id='option-8' name='option' type='radio' value='500+'>
											<label class='icheck' for='option-8'>500+</label>
										</li>
									</ul>
								</div>

								<div class="input-field">
									<label for="phone" class="itext">Phone number <span>(optional)</span></label>
									<input type="phone" id="phone" value=""></label>
								</div>
								<div class="input-field">
									<label for="textarea" class="itextarea">What else shall we know? <span>(optional)</span></label>
									<textarea name="textarea" id="textarea" value="" rows="3"></textarea>
								</div>
								<button type="submit" class="btn-default" value="Submit">Get my quote & demo</button>
							</form>
						</article>

						<article class="testimonials-article text-center">
							<h2>Find out what  <span class="yellow-decoration">people
								<svg width="213" height="91" viewBox="0 0 213 91" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M6.84811 19.4002L0.467163 20.0027L3.43601 51.443L4.21939 73.9123L53.1503 72.2063L55.5403 90.4745L176.082 74.7037L175.198 67.9512L209.261 66.7636L208.173 35.5451L212.171 35.1676L208.88 0.322632L118.89 8.82021L7.49314 4.11827L6.84811 19.4002Z" fill="#F6CA56"/>
									</svg></span> are saying
							</h2>
							<div class="testimonials">
								
								<div class="testimonial__col">
									<div class="testimonial">
										<div class="testimonial__user">
											<img src="images/zack.png" alt="">
											<div class="testimonial__rate">
												<span class="testimonial__name">Ray Mongey</span>
												<div class="testimonial__stars">
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
												</div>
											</div>
										</div>
										<div class="testimonial__text">
											Nimbus is the tool I've been looking for. Exactly what I wanted. If you don't get this to organise all those ideas and keep track of projects and business related stuff, I think you'll regret it! GET IT NOW! 
										</div>
									</div>
									<div class="testimonial">
										<div class="testimonial__user">
											<img src="images/zack.png" alt="">
											<div class="testimonial__rate">
												<span class="testimonial__name">Ray Mongey</span>
												<div class="testimonial__stars">
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
												</div>
											</div>
										</div>
										<div class="testimonial__text">
											The business card scanner took a bit more time than I was hoping for on obtaining the data but it was 4 accurate which is the obiective. Good job team Nimbuse. One less app on my phone. Voice memo is next one on the list. 
										</div>
									</div>
									<div class="testimonial">
										<div class="testimonial__user">
											<img src="images/zack.png" alt="">
											<div class="testimonial__rate">
												<span class="testimonial__name">Ray Mongey</span>
												<div class="testimonial__stars">
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
												</div>
											</div>
										</div>
										<div class="testimonial__text">
											I use nimbus and I love it! I mainly use it to edit screen shots quickly (add arrows, circle things, write notes, etc) and I like that you can send directly to slack
										</div>
									</div>
								</div>

								<div class="testimonial__col">
									<div class="testimonial">
										<div class="testimonial__user">
											<img src="images/zack.png" alt="">
											<div class="testimonial__rate">
												<span class="testimonial__name">Ray Mongey</span>
												<div class="testimonial__stars">
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
												</div>
											</div>
										</div>
										<div class="testimonial__text">
											Playing around with @nimbuswebinc for the first time & am impressed! Why have I not heard more about this app? Capture notes & reminders. Great screenshot (with editor) & screenrecording tool built-in via Chrome extension, too. Who else using?
										</div>
									</div>
									<div class="testimonial testimonial--big">
										<div class="testimonial__user">
											<img src="images/zack.png" alt="">
											<div class="testimonial__rate">
												<span class="testimonial__name">Ray Mongey</span>
												<div class="testimonial__stars">
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
												</div>
											</div>
										</div>
										<div class="testimonial__text">
											Much better looking than Evernote and Onenote with the same features 
										</div>
									</div>
									<div class="testimonial">
										<div class="testimonial__user">
											<img src="images/zack.png" alt="">
											<div class="testimonial__rate">
												<span class="testimonial__name">Ray Mongey</span>
												<div class="testimonial__stars">
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
												</div>
											</div>
										</div>
										<div class="testimonial__text">
											Playing around with @nimbuswebinc for the first time & am impressed! Why have I not heard more about this app? Capture notes & reminders. Great screenshot (with editor) & screenrecording tool built-in via Chrome extension, too. Who else using?
										</div>
									</div>
								</div>

								<div class="testimonial__col">
									<div class="testimonial">
										<div class="testimonial__user">
											<img src="images/zack.png" alt="">
											<div class="testimonial__rate">
												<span class="testimonial__name">Ray Mongey</span>
												<div class="testimonial__stars">
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
												</div>
											</div>
										</div>
										<div class="testimonial__text">
											The business card scanner took a bit more time than I was hoping for on obtaining the data but it was 4 accurate which is the obiective. Good job team Nimbuse. One less app on my phone. Voice memo is next one on the list. 
										</div>
									</div>
									<div class="testimonial">
										<div class="testimonial__user">
											<img src="images/zack.png" alt="">
											<div class="testimonial__rate">
												<span class="testimonial__name">Ray Mongey</span>
												<div class="testimonial__stars">
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
												</div>
											</div>
										</div>
										<div class="testimonial__text">
											The Note app itself is overkill! It seems to do everything you can ask from an office suite without being a "full" office suite. 
										</div>
									</div>
									<div class="testimonial testimonial--big">
										<div class="testimonial__user">
											<img src="images/zack.png" alt="">
											<div class="testimonial__rate">
												<span class="testimonial__name">Ray Mongey</span>
												<div class="testimonial__stars">
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
													<span class="star star-full"><img src="images/star.svg" alt=""></span>
												</div>
											</div>
										</div>
										<div class="testimonial__text">
											Nimbus is great. Big fan here!
										</div>
									</div>
								</div>

							</div>
						</article>

					</div>
				</main>
			</div>

			<footer class="footer">
				<div class="container">
					<div class="footer-accordion">
						<div class="footer-accordion__item">
							<span class="opener">
								Use cases
								<span class="opener__ico icon-arrow-down"></span>
							</span>
							<div class="slide">
								<ul class="footer-accordion__list">
									<li><a href="#">Customer support</a></li>
									<li><a href="#">Development / Engineering</a></li>
									<li><a href="#">Education Students</a></li>
									<li><a href="#">Education Teaching</a></li>
									<li><a href="#">HR & Recruiting</a></li>
									<li><a href="#">Knowledge Repository / Wiki</a></li>
									<li><a href="#">Marketing Teams</a></li>
									<li><a href="#">Sales</a></li>
									<li><a href="#">Organized team space</a></li>
									<li><a href="#">Team management / Remote Teams</a></li>
									<li><a href="#">Project Management & Operations</a></li>
									<li><a href="#">Personal use</a></li>
									<li><a href="#">Product Development</a></li>
									<li><a href="#">Research and Brainstorm</a></li>
									<li><a href="#">Small & Medium business</a></li>
								</ul>
							</div>
						</div>
						<div class="footer-accordion__item">
							<span class="opener">
								Our products
								<span class="opener__ico icon-arrow-down"></span>
							</span>
							<div class="slide">
								<ul class="footer-accordion__list">
									<li><a href="#">Download</a></li>
									<li><a href="#">Nimbus Note</a></li>
									<li><a href="#">Nimbus Capture</a></li>
									<li><a href="#">Nimbus Web Clipper</a></li>
									<li><a href="#">Nimbus for Business</a></li>
									<li><a href="#">How to structure your team</a></li>
									<li><a href="#">Nimbus Note vs Evernote</a></li>
									<li><a href="#" class="link-with-label">
										Compare Nimbus vs Others
										<span class="link-label">NEW</span>
									</a></li>
								</ul>
							</div>
						</div>
						<div class="footer-accordion__item">
							<span class="opener">
								View all features
								<span class="opener__ico icon-arrow-down"></span>
							</span>
							<div class="slide">
								<ul class="footer-accordion__list">
									<li><a href="#">All-new note editor</a></li>
									<li><a href="#">All-new note editor</a></li>
									<li><a href="#">Tables, Databases</a></li>
									<li><a href="#">Manage workspaces, folders</a></li>
									<li><a href="#">Tag your notes</a></li>
									<li><a href="#">Public Sharing</a></li>
									<li><a href="#">Folders and Subfolders</a></li>
									<li><a href="#">Create internal links</a></li>
									<li><a href="#">Safely Delete and Recover</a></li>
									<li><a href="#">Collaboration</a></li>
									<li><a href="#">Document Search</a></li>
									<li><a href="#">Flexible Search</a></li>
									<li><a href="#">Dark Theme</a></li>
									<li><a href="#">Favorites for Notes</a></li>
									<li><a href="#">Set Colors to Folders</a></li>
									<li><a href="#">Send emails to Nimbus Note</a></li>
									<li><a href="#">Mobile Video and Audio Recording</a></li>
									<li><a href="#">Document scanner</a></li>
									<li><a href="#">Passcode Lock</a></li>
									<li><a href="#">Screenshot and screencast tools</a></li>
									<li><a href="#">Web clipper</a></li>
									<li><a href="#">2-Step Verification</a></li>
									<li><a href="#">Embeds</a></li>
									<li><a href="#">Collapsible and expandable lists</a></li>
								</ul>
							</div>
						</div>
						<div class="footer-accordion__item">
							<span class="opener">
								Company & Contacts
								<span class="opener__ico icon-arrow-down"></span>
							</span>
							<div class="slide">
								<ul class="footer-accordion__list">
									<li><a href="#">Company & Contacts</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Community forum</a></li>
									<li><a href="#">Contact us</a></li>
									<li><a href="#">Media Kit</a></li>
									<li><a href="#" class="link-with-label">
										Guides & FAQs
										<span class="link-label">NEW</span>
									</a></li>
									<li><a href="#">Roadmap</a></li>
									<li><a href="#">Press</a></li>
									<li><a href="#">Success Stories</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer__bottom-block">
					<div class="footer__col">
						<div class="footer__logo">
							<a href="#" class="footer__logo-link">
								<img src="./images/nimbus-logo.svg" alt="Nimbus Logo" width="46" height="46" class="footer__logo--img">
								<span class="footer__logo--text">Nimbus Platform <sup>TM</sup></span>
							</a>
						</div>
					</div>
					<div class="footer__col">
						<ul class="footer__social-list">
							<li><a href="#" class="icon-facebook"></a></li>
							<li><a href="#" class="icon-twitter"></a></li>
							<li><a href="#" class="icon-linkedin"></a></li>
							<li><a href="#" class="icon-youtube"></a></li>
							<li><a href="#" class="icon-pinterest"></a></li>
							<li><a href="#" class="icon-reddit"></a></li>
						</ul>
					</div>
					<div class="footer__col">
						<ul class="footer__avards">
							<li><img src="./images/avard-1.svg" alt="avard-1"></li>
							<li><img src="./images/avard-2.svg" alt="avard-2"></li>
							<li><img src="./images/avard-3.svg" alt="avard-3"></li>
						</ul>
						<ul class="footer__extra-list">
							<li><a href="#">★ All Awards</a></li>
							<li><a href="#">Terms & Privacy</a></li>
							<li><a href="#">GDPR</a></li>
						</ul>
						<span class="footer__copy">&copy; 2022 All Rights Reserved. <a href="#">Nimbus Web Inc. Delaware company</a></span>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
